body{
    background-color: #e8e8e8;
    margin: 0px;
}
header{
    width: 1442px;
    height: 80px;
    background-color: #fff;
    margin: auto;
    border: 1px dashed black;

}

main{
    width: 1442px;
    height: 3000px;
    background-color: #fff;
    margin: auto;
    border: 1px dashed black;


}

footer{
    width: 1442px;
    height: 421px;
    background-color: #fff;
    margin: auto;
    border: 1px dashed black;


}